.face1{
  position: absolute;
  z-index: 4;
  opacity: 1;
}

.face2{
  position: absolute;
  z-index: 3;
  opacity: 0;
}

.face3{
  position: absolute;
  z-index: 3;
  opacity: 0;
}

.face4{
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.lips{
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.eyes{
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.brow{
  position: absolute;
  z-index: 0;
  opacity: 0;
}

.imageContainer{
  grid-column: 2/2;
  grid-row: 2/2;
  justify-content: center;
}

.textContainer{
  grid-column:1/2;
  grid-row: 1/2;
  padding-right: 5vw;
  text-align: right;
  height: 60%;
}

.textAllign{
  position: relative;
  padding-left: 30px;
}

.gridContainer{
  display:grid;
  grid-template-columns: 50vw auto;
  height: 90%;
}

h3{
  letter-spacing: 3px;
  font-size: 32px;
  display: grid;
  grid-gap: 20px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  animation:
}

.brows:hover, .silmaliner:hover, .huuled:hover{
  border: solid pink 0px;
  border-radius: 10px;
  background-color: rgba(255,192,203, 0.3);
  transition-duration: 1s;
  transform: scale(1.1);
}



p{
  text-align: justify;
  padding-left: 12px;
  font-family: 'Lora', serif;
}
